.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px;
}

.header-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}